{{ define "main" }}
<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-12">
            <div class="image1">
                <img src="{{ "images/image1.png" | relURL }}" alt="Main image" class="img-fluid">
            </div>
            
            <div class="text-container">
                <div class="image2">
                    <img src="{{ "images/1_Typeography-nf.png" | relURL }}" alt="Typography" class="img-fluid">
                </div>
                
                <div class="image3">
                    <img src="{{ "images/2-nf.png" | relURL }}" alt="Content" class="img-fluid">
                </div>
            </div>

            <div class="image4">
                <img src="{{ "images/field4.jpg" | relURL }}" alt="Field" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{{ end }}